<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Wedding Invitation</title>

<style>
body {
  body {
  background-image: url('da.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
}
}

.card {
  background: rgba(255, 255, 255, 0.9);
  padding: 25px;
  margin: 60px auto;
  width: 320px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

h1 {
  color: #d6336c;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  margin: 5px 0;
}

button {
  padding: 10px 15px;
  margin: 10px 5px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
}

button:hover {
  transform: scale(1.05);
}

.rsvp {
  background-color: #ff4d6d;
  color: white;
}

.whatsapp {
  background-color: #25D366;
  color: white;
}

#countdown {
  margin-top: 15px;
  font-weight: bold;
  color: #333;
}
</style>
</head>

<body>

<div class="card">
  <h1>Polavaram Purushotham ❤️ [Gali Hema latha]</h1>
  <p>We invite you to our wedding</p>
  <p>📅 Date: May 5, 2026</p>
  <p>⏰ Time: 10:00 AM</p>
  <p>📍 Venue: Tirumula</p>

  <button class="rsvp" onclick="openRSVP()">RSVP</button>
  <button class="whatsapp" onclick="shareWhatsApp()">Share</button>

  <p id="countdown"></p>
</div>

<script>
// Countdown Timer
var countDownDate = new Date("May 5, 2026 10:00:00").getTime();

var x = setInterval(function() {
  var now = new Date().getTime();
  var distance = countDownDate - now;

  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));

  document.getElementById("countdown").innerHTML =
  "⏳ " + days + " days " + hours + " hours left 💍";

  if (distance < 0) {
    clearInterval(x);
    document.getElementById("countdown").innerHTML = "🎉 Wedding Day!";
  }
}, 1000);

// RSVP Button
function openRSVP() {
  window.open("https://https://forms.gle/AbHahr52wB6qBZ9W7", "_blank");
}

// WhatsApp Share
function shareWhatsApp() {
  var url = "https://shalinipolavaram-debug.github.io/wedding-invite/";
  var text = "You're invited to our wedding 💍 " + url;
  window.open("https://wa.me/?text=" + encodeURIComponent(text));
}
</script>

</body>
</html>
